div{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.container:hover .item{
    transform: translateY(-15px);
    /* background: palevioletred; */
}

.item {
    background: palegoldenrod;
}