.circle {
    background: #EF3B36;
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);
    background: linear-gradient(to right, #FFFFFF, #EF3B36);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle:hover{
    transform: scale(0.8, 1.2);
}